name: Maven CI + Docker Hub (Java 25)
 
on:

  push:

    branches: [ "main" ]

  pull_request:
 
env:

  IMAGE_TAG: ${{ github.sha }}
 
jobs:

  build-and-push:

    runs-on: ubuntu-latest
 
    steps:

      - name: Checkout source

        uses: actions/checkout@v4
 
      - name: Set up Java 25

        uses: actions/setup-java@v4

        with:

          distribution: temurin

          java-version: 25

          cache: maven
 
      - name: Build & test with Maven

        run: mvn clean verify
 
      - name: Login to Docker Hub

        uses: docker/login-action@v3

        with:

          username: ${{ secrets.DOCKERHUB_USERNAME }}

          password: ${{ secrets.DOCKERHUB_TOKEN }}
 
      - name: Build Docker image

        run: |

          docker build \

            -t docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKER_IMAGE_NAME }}:${IMAGE_TAG} \

            -t docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKER_IMAGE_NAME }}:latest \

            .
 
      - name: Push Docker image

        run: |

          docker push docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKER_IMAGE_NAME }}:${IMAGE_TAG}

          docker push docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKER_IMAGE_NAME }}:latest

    
 
